body{ 
    background-color:rgba(225, 225, 225, 0.805);
    margin:0;
    font-family: sans-serif;
}
header{
    background: white;
    padding: 10px;
}
div.post{
    background: white;
    margin-top: 40px;
}
div.post img{
    width: 100%;
    margin-top: -25px;
    margin-bottom: -25px;
}
header h1{
    margin: 0;
}
div.container{
    width: 600px;
    margin: auto;
}
h2,p{
    padding: 10px;
}
span{
    float: right;
    margin-top: -50px;
    padding-right: 10px;
    color: grey;
}
